@font-face {
    font-family: Montserrat-SemiBold;
    src: url(Fonts_lab2/Montserrat-SemiBold.ttf);
}
.Name_Lab2 {
    word-spacing: 5ex;
}
.Labs_lab2 {
    font-size: 30px;
    color:rgb(211, 184, 236);
}

#album {
    font-weight: bold; 
    color: darkmagenta;  
}
.section1 {
    margin-top: -570px;
    margin-left: 150px;
}
.section1 > img {
    float: left;
}
.section1 > p {
    width: 400px;
    line-height: 35px;
}
.section2{
    margin-left: 850px;
    margin-top:-300px;
}
.section2 > p{
    font-size: 30px;
    color: darkmagenta;
    font-weight: bold;
}

ul[type="square"] {
    font-size: 25px;
}
.P_foot {
    text-align: center;
    font-size: 30px;
    margin-top: 100px;
}
.flexbox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}


